{% extends "base.html" %}

{% block content %}
  <h1>beer-Y-taco</h1>
  <h4>Where cold beer meets good tacos</h4>
  <div class="col-md-6">
    <h3>Taco list:
      {% if request.user.employeeprofile.role == 'Manager' %}
      <a class="btn btn-primary" href="{% url 'food_create_view' %}">Create a taco</a>
      {% endif %}</h3>
    <div class="panel panel-default">
      {% for taco in object_list %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ taco }}, ${{ taco.price }}</h3>
        </div>
          <div class="panel-body">
            <p>{{ taco.description }}</p>
              <li>Tortilla: {{ taco.tortilla }}</li>
              <li>Protein: {{ taco.protein }}</li>
              <li>Also inside: {{ taco.dress }}</li>
              <li>Topped with: {{ taco.finish }}</li>
              {% if request.user.employeeprofile.role == 'Manager' %}
              <a href="{% url 'food_update_view' taco.pk %}">Update</a> OR
              <a href="{% url 'food_delete_view' taco.pk %}">Delete</a>
              {% endif %}
          </div>
      {% endfor %}
    </div>

  </div>
  <div class="col-md-6">
    <h3>Drink list:
      {% if request.user.employeeprofile.role == 'Manager' %}
      <a class="btn btn-primary" href="{% url 'drink_create_view' %}">Create a drink</a>
      {% endif %}</h3>
    <div class="panel panel-default">
      {% for drink in drink_list %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ drink }}, ${{ drink.price }}</h3>
        </div>
          <div class="panel-body">
            <p>{{ drink.description }}</p>
          </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-6">
    <h3>Extra list:
      {% if request.user.employeeprofile.role == 'Manager' %}
      <a class="btn btn-primary" href="{% url 'create_extra_view' %}">Create an extra</a>
      {% endif %}</h3>
    <div class="panel panel-default">
      {% for extra in extra_list %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ extra }}, ${{ extra.price }}</h3>
        </div>
          <div class="panel-body">
            <p>{{ extra.description }}</p>
          </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
