{% extends "base.html" %}
{% load tz %}
{% block content %}
<h3>Pending food orders</h3>
<table class="table table-hover">
    <th>Table Number</th>
    <th>Taco</th>
    <th>No. of tacos</th>
    <th>Extra</th>
    <th>No. of extra</th>
    <th>Notes</th>
    <th>Time in</th>
    <th>Order Up!</th>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td><a href="{% url 'show_customer_order_view' object.order_tag.tag_number %}">Table No. {{ object.order_tag.tag_number }} </td>
            <td>{{ object.food}}</td>
            <td>{{ object.food_quantity }}</td>
            <td>{{ object.extra }}</td>
            <td>{{ object.extra_quantity }}</td>
            <td>{{ object.notes }}</td>
            <td>{% timezone 'America/New_York' %} {{ object.created|time:"g:iA"|lower }} {% endtimezone %}</td>
            <td><a href="{% url 'update_food_order_view' object.pk %}">Order up</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
