{% extends "base.html" %}
{% load tz %}
{% block content %}
<h3>This is the full unpaid order for Customer No. {{ food_list.order_tag.tag_number }}. </h3>
<h5>(Bar only: Customer No. {{ drink.order_tag.tag_number }} )</h5>
<h4>Drinks</h4>
  {% for drink in drink_list %}
  <p>  {{ drink.order_tag.tag_number }}
    {{ drink.drink}}
    {{ drink.drink.price}} each
    {{ drink.drink_quantity }}
    {% timezone 'America/New_York' %}
{{ drink.created|time:"g:iA"|lower }}{% endtimezone %}</p>
  {% endfor %}
  <h5>Bar tab: ${{ subtotal_drinks }}</h5>
  <h4>Food</h4>
    {% for food in food_list %}
    <p>  {{ food.order_tag.tag_number }}
      {{ food.food}}
      {{ food.food.price }} each
      {{ food.food_quantity }}</p>
      <p>{{ food.extra }}
      {{ food.extra.price}} each
      {{ food.extra_quantity }}
      {% timezone 'America/New_York' %}

        {{ food.created|time:"g:iA"|lower }}
    {% endtimezone %}
</p>
    {% endfor %}
    <h5>Food bill: ${{ subtotal_food }}</h5>
    <h3>TOTAL: ${{ total_unpaid }}</h3>

    <form class="" action="" method="post">
      {% csrf_token %}
      <input class="btn btn-success" type="submit" name="paid" value="Mark as 'paid'">
    </form>


{% endblock %}
